// Colors
$white: #fff !default;
$carbon: #333 !default;
$cool-gray-11: #4d4f53 !default;
$cool-gray-9: #747678 !default;
$cool-gray-7: #a0a0a0 !default;
$cool-gray-5: #b9b9b9 !default;
$cool-gray-3: #d7d7d7 !default;
$cool-gray-1: #f2f2f2 !default;
$cool-gray-0: #f4f5f6 !default;
$gray-dark: #343a40 !default;
$gray-darker: #212529 !default;
$black: black !default;
$new-light-gray: #f4f5f6 !default;

$blue: #0088ce !default;
$purple: #6e1e78 !default;
$pink: #a1006b !default;
$red: #cd0037 !default;
$orange: #e05206 !default;
$yellow: #ffb612 !default;
$green: #82be00 !default;
$teal: #d2e100 !default;
$cyan: #009aa6 !default;

$strong-blue: #0074af !default;
$strong-cyan: #00838c !default;
$strong-orange: #c74905 !default;
